*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    cursor: pointer;
}

th.sortable:hover {
    background-color: #ddd;
}

td input {
    border: none;
    width: 100%;
}

thead th.freeze, tbody td.freeze {
    position: sticky;
    background: white;
    z-index: 1;
}

thead th.freeze {
    top: 0;
}

tbody td.freeze {
    left: 0;
}